p {
  color: blue
}

h1 {
  font-size: 60px;
  text-decoration: underline;
}

#server-side-intro {
  color: orange;
}
.my-brand {
  font-size:  18px;
  font-style: italic;
  text-transform: lowercase;
  color: red;
}
/*
This is a comments
*/
